body {
    background-color: #CECECE;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#meme-inputs {
    margin-top: 20px;
}

#meme-inputs label {
    display: block;
    text-align: center;
}

#templates img {
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#complete-meme {
    margin: 20px 0px;
}

#btn-return {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (min-width: 400px) {
    #templates img {
        width: 300px;
    }
}

@media (min-width: 600px) {
    #templates img {
        width: 500px;
    }
}
